services:
  nginx:
    image: nginx:stable-alpine3.21-perl
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt:/etc/letsencrypt'
    depends_on:
      - backend
      - frontend
    networks:
      - network

  backend:
    build:
      context: ./api
    networks:
      - network

  frontend:
    build:
      context: ./app
    ports:
      - "3000:3000"
    volumes:
      - /root/app/images:/usr/share/nginx/html/images
    networks:
      - network

networks:
  network: